# ignore all logs
*.log
# ignore the file literally named foo[01].txt
foo\[01\].txt

# Исключаем файлы, скомпилированные из исходного кода
*.class
*.o
*.so
*.dll
*.exe

# Исключаем файлы конфигурации редакторов и IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Исключаем временные файлы
*.tmp
*.log
*.swp
*.DS_Store
Thumbs.db

# Исключаем выходные файлы сборки
build/
dist/
out/

# Исключаем зависимости (например, для Node.js или Python)
node_modules/
.env
venv/
__pycache__/

# Исключаем архивы
*.zip
*.tar
*.gz
*.7z
*.rar
